* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #000;
  color: #fff;
}

.heading {
  padding: 30px 140px;
  width: 100%;
}

.heading h1 {
  font-weight: bold;
  font-size: 42px;
}

.leaderboard {
  padding: 0 140px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.recent-scores {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 55%;
}

.recents-heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 100%;
}

.recents-heading button {
  padding: 6px 10px;
  border: 2px solid #fff;
  border-radius: 5px;
}

.scores {
  width: 100%;
}

.scores table {
  border: 4px solid #fff;
  border-radius: 10px;
  width: 100%;
}

.scores table tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.scores table td {
  padding: 8px;
}

.oddEven0 {
  background: #282925;
}

.scores table tr:hover {
  margin: 0 10px;
}

.tableHeader {
  font-weight: 900;
  font-size: 21px;
}

.add-scores {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 40%;
}

.add-scores h2 {
  margin-bottom: 15px;
}

.add-scores form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  padding: 8px;
  border: 4px solid #fff;
  border-radius: 10px;
}

.add-scores form input {
  width: 100%;
  margin-bottom: 24px;
  border: 2px solid #fff;
  padding: 3px 6px;
  height: 34px;
  border-radius: 5px;
  text-align: end;
}

.add-scores form button {
  padding: 6px 10px;
  border: 2px solid #fff;
  height: 34px;
  border-radius: 5px;
}

.recents-heading button:hover,
.add-scores form button:hover {
  padding: 8px 12px;
}

.add-scores form input:focus {
  border: none;
  outline: none;
}

@keyframes displayRows {
  from {
    margin-left: 200px;
    width: 175%;
  }

  to {
    margin-left: 0;
    width: 100%;
  }
}
